<div class="contenedor_modal">
    <div class="header">
        <h3>{{tituloHeader}}</h3>
        <fa-icon [icon]="faClose" (click)="cerrarModal()"></fa-icon>
    </div>
    <div class="body">
        <form [formGroup]="formularioRegistro" (ngSubmit)="registrarUsuario()">

            <div class="col-12 row justify-content-center">


                <div class="contacto col-12 row">
                    <h3>{{tituloBody}}</h3>

                    <div class="col-6">
                        <input class="form-control" type="text" formControlName="nombres" placeholder="Nombre">
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="text" formControlName="apellidos" placeholder="Apellido">
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="text" formControlName="nombreUsuario"
                            placeholder="Nombre usuario">
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="email" formControlName="correo" placeholder="Correo">
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="password" formControlName="password" placeholder="Contraseña">
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="password" formControlName="confirmarContrasenia"
                            placeholder="Confirmar Contraseña">
                    </div>

                    @if (direcciones || formularioRegistro.get('confirmarDatosUbicacion')?.value === 'true') {

                    <div class="aniadirUbicacion">
                        <p>Agregar {{subtitulo}}</p>
                        <fa-icon (click)="guardarDireccion()" [icon]="faAdd"></fa-icon>
                    </div>
                    <div formArrayName="direcciones">
                        <div class="ubicacion col-12 row"
                            *ngFor="let direccion of listadoDirecciones.controls; let indexDireccion = index"
                            [formGroupName]="indexDireccion">
                            <div class="contenedor_titulo_ubicacion">
                                <h4>{{subtitulo}} {{indexDireccion + 1}}</h4>
                                <fa-icon [icon]="faTrash" (click)="eliminarDireccion(indexDireccion)"></fa-icon>
                            </div>

                            <div class="col-6">
                                <input class="form-control" type="text" formControlName="calle" placeholder="Dirección">
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="text" formControlName="ciudad" placeholder="Ciudad">
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="text" formControlName="estado" placeholder="Estado">
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="text" formControlName="codigoPostal"
                                    placeholder="Codigo postal">
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="text" formControlName="pais" placeholder="Pais">
                            </div>
                        </div>
                    </div>

                    }

                    <h3>{{preguntaTipoDeUsuario}}</h3>

                    <div class="col-12 d-flex align-items-center">
                        <div class="form-check me-2">
                            <input class="form-check-input" formControlName="confirmarCliente" type="radio"
                                name="confirmarCliente" id="siConfirmado" value="true">
                            <label class="form-check-label" for="siConfirmado">Sí</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" formControlName="confirmarCliente" type="radio"
                                name="confirmarCliente" id="noConfirmado" value="false">
                            <label class="form-check-label" for="noConfirmado">No</label>
                        </div>
                    </div>


                    @if (formularioRegistro.get('confirmarCliente')?.value === 'true') {

                    <div class="col-6 d-flex escribe_nombre_pagina">
                        <label class="form-label">{{preguntaNombrePagina}}</label>
                        <input class="form-control" type="text" formControlName="nombrePagina"
                            placeholder="Nombre de la pagina">
                    </div>

                    <div class="col-6 d-flex escoger_tipo_pagina">
                        <label class="form-label">{{preguntaTipoPagina}}</label>
                        <ng-select [placeholder]="afirmacionTipoUsuarioPlaceHolder" [items]="tipoPaginas"
                            bindLabel="tipo" bindValue="uid" formControlName="tipoPagina">
                        </ng-select>
                    </div>

                    <div class="color-picker-container col-6">
                        <label for="form-label">{{preguntaColoresPagina}}</label>
                        <div class="col-12 row contenedor_colores">
                            <button type="button" class="contenedorInputs" popoverClass="coloresInputs"
                                ngbPopover="Color principal" [openDelay]="300"
                                [closeDelay]="500" triggers="mouseenter:mouseleave">
                                <input (change)="cambioDeColores()" class="colorInputUno" type="color"
                                    formControlName="colorUno" />
                            </button>

                            <button type="button" class="contenedorInputs" popoverClass="coloresInputs"
                                ngbPopover="Color secundario" [openDelay]="300"
                                [closeDelay]="500" triggers="mouseenter:mouseleave">
                                <input (change)="cambioDeColores()" class="colorInputDos" type="color"
                                    formControlName="colorDos" />
                            </button>
                            <button type="button" class="contenedorInputs" popoverClass="coloresInputs"
                                ngbPopover="Color primario textos" [openDelay]="300"
                                [closeDelay]="500" triggers="mouseenter:mouseleave">
                                <input (change)="cambioDeColores()" class="colorInputTres" type="color"
                                    formControlName="colorTres" />
                            </button>
                            <button type="button" class="contenedorInputs" popoverClass="coloresInputs"
                                ngbPopover="Color secundario textos" [openDelay]="300"
                                [closeDelay]="500" triggers="mouseenter:mouseleave">
                                <input (change)="cambioDeColores()" class="colorInputCuatro" type="color"
                                    formControlName="colorCuatro" />
                            </button>
                        </div>
                    </div>

                    <p class="pb-0 mb-0">{{descipcionCabeceraVisorDeColores}}</p>

                    <div class="col-12 row contendor_header">

                        <div class="col-12 contenedor_titulo">
                            <div class="col-3 h-100"></div>
                            <div class="titulo col-6">
                                <h1><span>Titulo de prueba</span></h1>
                            </div>
                            <div class="col-3 contenedor_login_usuario">
                                <div class="idiomas">
                                    <a class="idioma_español"><img src="/imagenes/espania.png" alt="Español"></a>
                                    <a class="idioma_ingles"><img src="/imagenes/eeuu.png" alt="Ingles"></a>
                                </div>
                                <div class="usuario">
                                    <fa-icon [icon]="faUserCircle"></fa-icon>
                                </div>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="col-6 contenedor_opciones">
                                <ul class="opciones_menu">
                                    <li><a>Home</a></li>
                                    <li><a>About</a></li>
                                    <li><a>Contact</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                    } @else if(formularioRegistro.get('confirmarCliente')?.value === 'false'){

                    <h3>{{preguntaEresDesarollador}}</h3>

                    <div class="col-12 d-flex align-items-center">
                        <div class="form-check me-2">
                            <input class="form-check-input" formControlName="confirmarDesarrollador" type="radio"
                                name="confirmarDesarrollador" id="siConfirmadoDesarollador" value="true">
                            <label class="form-check-label" for="siConfirmadoDesarollador">Sí</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" formControlName="confirmarDesarrollador" type="radio"
                                name="confirmarDesarrollador" id="noConfirmadoDesarollador" value="false">
                            <label class="form-check-label" for="noConfirmadoDesarollador">No</label>
                        </div>
                    </div>

                    @if(formularioRegistro.get('confirmarDesarrollador')?.value === 'true'){
                    <div class="cuadroEsDesarrollador">
                        <fa-icon [icon]="faExclamationCircle"></fa-icon>
                        <p>{{seleccionasteEresDesarrollador}}</p>
                    </div>
                    }@else if(formularioRegistro.get('confirmarDesarrollador')?.value === 'false'){
                    <div class="cuadroEsDesarrollador">
                        <fa-icon [icon]="faExclamationCircle"></fa-icon>
                        <p>{{seleccionasteNoEresDesarrollador}}</p>
                    </div>
                    }

                    }


                </div>


                <div class="acciones">
                    <button class="btn_secundario" type="reset" (click)="formularioRegistro.reset()">
                        Limpiar
                    </button>
                    <button class="btn_principal" type="submit">
                        @if(!modoEdicion){
                            Guardar
                        }@else {
                            Editar
                        }
                    </button>
                </div>

                <!-- 
                    
                <pre>
                    {{formularioRegistro.value | json}}
                </pre>
                -->
            </div>

        </form>
    </div>
</div>