@if (dataSelectContructor.pagina.anuciosHeader) {
    <div class="contenedor_anuncios">
        
    </div>
}

<div class="col-12 row contendor_header">
   
    <div class="col-12 contenedor_titulo">
        <div class="col-4 h-100"></div>
        <div class="titulo">
            @if (dataSelectContructor.pagina.headerTituloTexto) {
                <h1><span>{{titulo}}</span></h1>
            }
        </div>
        <div class="col-4 contenedor_login_usuario">
            <div class="idiomas">
                <a href="#" class="idioma_español"><img src="/imagenes/espania.png" alt="Español"></a>
                <a href="#" class="idioma_ingles"><img src="/imagenes/eeuu.png" alt="Ingles"></a>
            </div>
            <div class="usuario">
                <fa-icon (click)="mostrarPover = !mostrarPover" [icon]="faUserCircle"></fa-icon>
            </div>
            <div class="poverInicioSeccion" [ngClass]="mostrarPover?'cerrarInicioSeccion':'abrirInicioSeccion'">
                <div class="contenedor_login">
                    <form>
                        <h2>Login</h2>
                        <input class="form-control mb-2" type="text" placeholder="Usuario o Correo"
                            [autocomplete]="false">
                        <input class="form-control" type="password" placeholder="Contraseña">
                        <button class="w-100 btn_principal" type="submit">Login</button>
                    </form>
                </div>
                <div class="contenedor_registrar">
                    <p class="mb-0">No tienes una cuenta?</p>
                    <a (click)="abrirModalRegistro()">Regístrate</a>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="col-6 contenedor_opciones">
            <ul class="opciones_menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

    </div>

    <div (click)="mostrarPover = true" *ngIf="!mostrarPover" class="cuadroCompletoCerrarLogin"></div>

    @if (modalRegistro) {
        <app-modal-general-uno></app-modal-general-uno>
    }