<div class="row contenedor_Categoria_Productos">
    <div class="col-12">
        <div class="video">
            <video autoplay muted loop>
                <source src="/videos/Produktvideo-1.5-1.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="col-12">
        <div class="titulo_producto">
            <h2>Categoría 1</h2>
        </div>
        <div class="productos_grilla row">
            <div class="card_producto" (click)="verProducto()">
                <div class="imagen">
                    <img src="/imagenes/producto_ejemplo.png" alt="Producto 1">
                </div>
                <div class="titulo">
                    <h3>PRODUCTOS 1</h3>
                </div>
            </div> 
            <div class="card_producto" (click)="verProducto()">
                <div class="imagen">
                    <img src="/imagenes/producto_ejemplo.png" alt="Producto 1">
                </div>
                <div class="titulo">
                    <h3>PRODUCTOS 1</h3>
                </div>
            </div>  
            <div class="card_producto" (click)="verProducto()">
                <div class="imagen">
                    <img src="/imagenes/producto_ejemplo.png" alt="Producto 1">
                </div>
                <div class="titulo">
                    <h3>PRODUCTOS 1</h3>
                </div>
            </div>
        </div>
    </div>
</div>
