<swiper-container class="mySwiper" effect="coverflow" grab-cursor="true" centered-slides="true"
slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
    

    @for (producto of productos; track $index) {
        
        <swiper-slide (click)="imagenSeleccionada(producto.ruta)">
    
            @if (acciones) {
                <div class="conenedor_acciones" [routerLink]="'/pages/ecommerces/modelo-uno/categoria-uno/ver-producto'">
                    <div class="acciones">
                        <img src="imagenes/eye-solid.svg" alt="">
                        <img src="imagenes/cart-shopping-solid.svg" alt="">
                    </div>
                </div>
            }

            @if (detalles) {
                <div class="descripcion">
                    <h3>{{ producto.nombre }}</h3>
                    <p class="precio">{{ producto.precio |  currency:'Cop'}}</p>
                </div>
            }
            
            <img class="imagenSlider" [src]="producto.ruta" alt="">
    
        </swiper-slide>
    }
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</swiper-container>