/* You can add global styles to this file, and also import other style files */


:root {
    --principal: #22CC55;
    --principal_claro: #6ec989;
    --secundario: #000000;
    --color_gris: #a9a9a9;
    --modales: #ffffff;
    --textos: #ffffff;
    --textos_secundarios: #000000;
}

/*** Fuentes ***/
@font-face {
    font-family: "Quicksand_Bold";
    src: url("../public/fonts/Quicksand/static/Quicksand-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand_Medium";
    src: url("../public/fonts/Quicksand/static/Quicksand-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand_Regular";
    src: url("../public/fonts/Quicksand/static/Quicksand-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Import ng-select styles. */
@import "@ng-select/ng-select/themes/default.theme.css";

html,
body {
    font-family: 'Quicksand_Regular' !important;
}

// Botones

.btn_principal {
    background-color: var(--principal);
    border: none;
    color: var(--textos);
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
    font-size: 1rem;
    border-radius: 0.3rem;
}

.btn_secundario {
    background-color: var(--color_gris);
    border: none;
    color: var(--textos);
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
    font-size: 1rem;
    border-radius: 0.3rem;
}

// modal
app-modal-general-uno {
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    background: rgb(0 0 0 / 90%);
}

// estilos ngSelect 

ng-select {
    width: 100%;
    border-radius: 7px;
    border: 1px solid var(--modales);
    
    .ng-select-container {
        border-radius: 8px; // Aplica bordes redondeados al contenedor interno
        height: 100%; // Ajusta la altura
    }

    .ng-clear-wrapper,
    .ng-arrow-wrapper {
        margin-right: 8px; // Espaciado a la derecha de los íconos de borrar y desplegar
    }
}


// keyFrame cuadro
.container {
    position: absolute;
    top: 15%;
    width: 50% !important;
    right: 0%;
    z-index: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
    height: 97vh;
    overflow: hidden;
}

.box {
    width: 50px;
    height: 50px;
    background-color: var(--principal);
    position: absolute;
    bottom: 0;
    animation: moveToTop 5s ease-in-out infinite;
}

@keyframes moveToTop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}